{% extends "muninn/base.html" %} {% load static %} {% block content %}
<h1 class="text-sm-center">FAQ</h1>

<div class="row">
    <div class="container p-6 my-5 rounded-3 aboutContainer" style="width: 800px; height: auto;">
        <h2 class="text-sm-center">Dashboard</h2>
        <h3 class="text-sm-center">Making a task:</h3>
        <p>Pick a desired list.</p>
        <p>Enter a task into text bar. Please do not leave it empty.</p>
        <p>Press add task.</p>
        <p>Note that Tasks get deleted at the end of the day. Habits stay in the list.</p>
        <hr class="style-four">

        <h3 class="text-sm-center">Completing a task:</h3>
        <p>Click a task. Once it changes to orange it is complete.</p>
        <hr class="style-four">

        <h3 class="text-sm-center">Deleting a task:</h3>
        <p>Press delete button next to task.</p>
        <hr class="style-four">

        <h3 class="text-sm-center">Editing a task:</h3>
        <p>Press edit button next to task.</p>
        <p>Change information in text box.</p>
        <p>Press save.</p>
        <hr class="style-four">

        <h3 class="text-sm-center">Other:</h3>
        <p>Points are awarded at the end of each day. Level updates once you finish a task.</p>
    </div>
</div>
<div class="row">
    <div class="container p-6 my-5 rounded-3 aboutContainer" style="width: 800px; height: auto;">
        <h2 class="text-sm-center">Petshop</h2>

        <h3 class="text-sm-center">Buying pets:</h3>
        <p>Pick a pet that you are the right level for and have enough money for.</p>
        <p>You can not buy a pet that you cannot afford or have enough money for.</p>
        <p>Press buy button.</p>
        <p>Pick a name.</p>
        <p>If you don't want the pet either click the x in the naming area or click anywhere on the page.</p>
        <hr class="style-four">

        <h3 class="text-sm-center">Naming pets:</h3>
        <p>Enter a name in the prompt after pressing the buy button.</p>
        <p>Press buy pet.</p>
    </div>
</div>
<div class="row">
    <div class="container p-6 my-5 rounded-3 aboutContainer" style="width: 800px; height: auto;">
        <h2 class="text-sm-center">Roost</h2>
        <h3 class="text-sm-center">Finding a pet:</h3>
        <p>Find the search bar on page (above all the pets) or press the filter drop down menu.</p>
        <p>Enter name or animal.</p>
        <hr class="style-four">

        <h3 class="text-sm-center">Seeing a bigger version of the pet:</h3>
        <p>Click on pet. On the top part of the page you will see a bigger version of the pet.</p>
    </div>
</div>
{% endblock content %}