{% extends "muninn/base.html" %} {% load static %} 
{% block content %}
<div class="dashboard-margin">
<h1 class="mt-4" >Roost</h1>

<div>
    <h1 style="text-align:center">{{animalList.first.name}} </h1>
    <img class="m-auto stadium" src="..\..\static\muninn\images\{{animalList.first.file_name}}.png">
    <br>
</div>

<hr>
    <form action="/roost" method="post" >
        {% csrf_token %}
        <select name="filter" onchange="this.form.submit()">
            <option value="+name">Name A-Z</option>
            <option value="-name">Name Z-A</option>
            <option value="+level">Level &#8593;</option>
            <option value="-level">Level &#8595;</option>
            <option value="+animal">Animal A-Z</option>
            <option value="-animal">Animal Z-A</option>
        </select>
        <input type="text" name="search" placeholder="Search">
    </form>
    <div style="position:relative; left: 2cm; width:100%"  onchange="this.form.submit()">
        <div class="m-sm-auto row-cols-xl-4">

            {% if animalList %}
            {% for animal in animalList %}
            
            <div class="card-header basic-margin roost-card" style="float:left; opacity:{% if animal.level > level %}50% {% else %} 100% {% endif %}">
                <div class="card-body roost-card-inner" ">
                    <span><b>{{animal.name}}</b></span><br>
                    <img class="petshop "src= "..\..\static\muninn\images\{{animal.file_name}}.png" ><br>      
                </div>
                <table>
                    <tr class="psp-info-line">
                        <td> <h5>LV: {{animal.level}}</h5></td><td><h5>{{animal.name}}</h5></td>
                    </tr>
                </table>
                
            </div>
            {% endfor %}
            {% else %}
                <p>No Pets Here</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}