{% extends "muninn/base.html" %} 
{% load static %}
{% block content %}
<div class="basic-margin">
<h1 class="mt-4">Dashboard</h1>
<div class="row">
    <div class="container pt-3 my-4 dashContainer">
        <div class="progress" style="height:30px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 20%; height:30px"></div>
        </div>
        <img src="{% static 'muninn/images/Chiara.png' %}" class="rounded dashboardImg" style="float:right">
        <div class="progressText" style="clear: right">
            <p><b>Level:</b> 1 <br><b>Gold:</b> 100 <br><b>XP:</b> 100</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 float-start">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Tasks</h5>
            </div>

            <div class="card-body">
                    <table>
                        {% for task in tasks %}
                        <tr>
                            <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input hidden value="{{ task.id }}" name="hidden-completeTask">
                                <input type="submit" name="completeTask" value="X" style="background-color: {% if task.complete == 1 %}green {%else%} red {% endif %}">
                            </form>
                            </td>
                            <td>
                            <label for="completeTask">{{ task.title }}</label>
                        </td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input hidden name="delete-hidden" value="{{ task.id }}">
                                <input type="submit" name="deleteTask" value="delete">
                            </form>
                            </td>
                        </tr>
                        {% empty %}
                        <h3>No tasks</h3>
                        {% endfor %}
                    </table>
                    <br><br>
                <form method="POST">

                    {% csrf_token %}
                    {{form.as_p}}

                    <input type="text" id="task" name="task">
                    <input type="submit" name="addTask" value="Add Task">
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-6 float-end">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Habits</h5>
            </div>
                <div class="card-body">
                    <table>
                        {% for habit in habits %}
                        <tr>
                            <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input hidden value="{{ habit.id }}" name="hidden-completeHabit">
                                <input type="submit" name="completeHabit" value="X"  style="background-color: {% if habit.complete == True %}green {%else%} red {% endif %}">
                            </form>
                            </td>
                            <td>
                            <label for="completeHabit">{{ habit.title }}</label>
                        </td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input hidden name="delete-hidden-habit" value="{{ habit.id }}">
                                <input type="submit" name="deleteHabit" value="delete">
                            </form>
                            </td>
                        </tr>
                        {% empty %}
                        <h3>No Habits</h3>
                        {% endfor %}
                    </table>
                    <br><br>
                <form method="POST">
                    {% csrf_token %}

                    <input type="text" id="habit" name="habit">
                    <input type="submit" name="addHabit" value="Add Habit">
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}