{% extends "muninn/base.html" %} 
{% block content %}

<h1 class="mt-4">Dashboard</h1>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Tasks</h5>
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas>
                <table>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input hidden name="delete-hidden" value="{{ task.id }}">
                                <input type="submit" name="deleteTask" value="delete">
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <h3>No tasks</h3>
                    {% endfor %}
                </table>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="text" id="task" name="task">
                    <input type="submit" name="addTask" value="Add Task">
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Habits</h5>
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock content %}