{% extends "muninn/base.html" %} {% load static %} {% block content %}
<div class="dashboard-margin">
    <h1 class="mt-4">Dashboard</h1>
    
    <div class="row">
        <div class="container pt-3 my-4 dashContainer">
            <div class="progressTitle">Level</div>
            <div class="progress-custom">
                <div class="progress-value">{{ level }}</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ percentToNextLevel }}%; height:30px"></div>
                </div>
                <div class="progress-value">{{ level|add:"1" }}</div>
            </div>

            <div class="progressTitle">Daily Tasks Done</div>
            <div class="progress-custom" style="margin-left: 158px;">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated dailyColor" style="width: {{ player.daily_points }}%; height:30px"></div>
                </div>
                <div class="progress-value">{{ player.daily_points }}%</div>
            </div>

            <div class="progressText">
                <p><b>Level:</b> {{ level }} <br><b>Gold:</b> {{ player.money }} <br><b>XP:</b> {{ player.daily_points|add:player.total_points }}</p>
            </div>
        </div>
    </div>
    <div class="date-selection">
    <form method="get">
        <input type="text" value="{{pastDate}}" name="date" id="date" hidden>
        <button class="arrow-icon" type="submit"><img class="arrow-icon-inner" src="\static\muninn\images\left-arrow.png"></button>
        
    </form>
    <h1> {{ displayDate }} </h1>
    <form method="get">
        <input type="text" value="{{futureDate}}" name="date" id="date" hidden>
        <button class="arrow-icon" type="submit" {% if selectedDate %} disabled {% endif %}><img class="arrow-icon-inner" src="\static\muninn\images\right-arrow.png"></button>
    </form>
</div>
    <div class="row">
        <div class="col-xl-6 float-start">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Tasks</h5>
                </div>

                <div class="card-body">
                    <table>
                        {% for task in tasks %}
                                <tr>
                                    <td>
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            <input hidden value="{{ task.id }}" name="hidden-completeTask">
                                            <input type="submit" name="completeTask" value=" {{ task.title }}" class="task-btn" style="background-color: {% if task.complete == 1 %}#FCAE1E {%else%} #FEE0AA {% endif %}">
                                        </form>
                                    </td>
                                    <td>
                                        <button class="delete-btn" id="editTaskbtn" onclick="editTasks('editTaskdiv{{forloop.counter}}')">edit</button>
                                    </td>
                                    <td>
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            <input hidden name="delete-hidden" value="{{ task.id }}">
                                            <input type="submit" class="delete-btn" name="deleteTask" value="delete">
                                            
                                        </form>
                                    </td>
                                </tr>
                                
                                <tr id="editTaskdiv{{forloop.counter}}" style="display: none;">
                                    <td>
                                        <form method="POST" action="">
                                            {% csrf_token %} {{form.as_p}}
                                            <input hidden name="edit-hidden" value="{{ task.id }}">
                                            <input type="text" class="task-input" id="editTask" name="editTask" value="{{ task.title }}">
                                            <input type="submit" name="editTaskbtn" class="delete-btn" value="save">
                                        </form>
                                    </td>
                                </tr>
                        {% empty %}
                        <h3>No tasks</h3>
                        {% endfor %}
                    </table>
                    <br><br>
                    <form method="POST">

                        {% csrf_token %} {{form.as_p}}

                        <input type="text" class="task-input" id="task" name="task">
                        <input type="submit" class="add-btn" name="addTask" value="Add Task">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 float-end">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Habits</h5>
                </div>
                <div class="card-body">
                    <table>
                        {% for habit in habits %}
                        <tr>
                            <td>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input hidden value="{{ habit.id }}" name="hidden-completeHabit">
                                    <input type="submit" name="completeHabit" value=" {{ habit.title }}" class="task-btn" style="background-color: {% if habit.complete == 1 %}#FCAE1E {%else%} #FEE0AA {% endif %}">
                                </form>
                            </td>
                            <td>
                                <button class="delete-btn" id="editHabitbtn" onclick="editHabits('editHabitdiv{{forloop.counter}}')">edit</button>
                            </td>
                            <td>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input hidden name="delete-hidden-habit" value="{{ habit.id }}">
                                    <input type="submit" name="deleteHabit" class="delete-btn" value="delete">
                                </form>
                            </td>
                        </tr>

                        <tr id="editHabitdiv{{forloop.counter}}" style="display: none;">
                            <td>
                                <form method="POST" action="">
                                    {% csrf_token %} {{ form.as_p }}
                                    <input hidden name="edit-hidden-habit" value="{{ habit.id }}">
                                    <input type="text" class="task-input" id="editHabit" name="editHabit" value="{{ habit.title }}">
                                    <input type="submit" name="editHabitbtn" class="delete-btn" value="save">
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                        <h3>No Habits</h3>
                        {% endfor %}
                    </table>
                    <br><br>
                    <form method="POST">
                        {% csrf_token %}

                        <input type="text" class="task-input" id="habit" name="habit">
                        <input type="submit" class="add-btn" name="addHabit" value="Add Habit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}