{% extends "muninn/base.html"%} {% block content %}
{% load static %}
<div id="login">
    <h1 class="loginText">Log In </h1>
    <br>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class='form-group'>
                {{ form.as_p }}

                <button type="submit" class="loginText" id="loginBtn">Login</button>

            </fieldset>
        </form>
    </div>
    
    <br>
    <input type="button" onclick="location.href='../../';" class="loginText" value="Quit" />
</div>


{% endblock content %}